version: 2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.1-node-browsers
      - image: circleci/postgres:9.6.2-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: grantinee_test
      - image: circleci/mysql:5.7
        environment:
          MYSQL_DATABASE: grantinee_test
          MYSQL_ROOT_PASSWORD: mysql
    steps:
      - checkout

      - run:
          name: Wait for postgres DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Wait for mysql DB
          command: dockerize -wait tcp://localhost:3306 -timeout 1m

      - run:
          name: install dependencies
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle

      - run:
          name: run tests
          command: bundle exec rake

  deploy:
    docker:
      - image: circleci/ruby:2.5.1-node-browsers
    steps:
      - checkout

      - run:
          name: Setup Rubygems
          command: bash .circleci/setup-rubygems.sh

      - run:
          name: Publish to Rubygems
          command: |
            gem build grantinee.gemspec
            gem push "grantinee-$(git describe --tags | cut -c2-).gem"

workflows:
  version: 2

  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
